package pages

import "app/views/layouts"

templ HomeIndex() {
  @layouts.AppLayout() {
    <div class="w-full px-4 container mx-auto mt-8">
      <h1 class="text-4xl font-bold">Home</h1>
    </div>
  }
}
